In [5]:
import pandas as pd
import numpy as np

Traindata_df = pd.read_csv('/Users/SahanaB/Downloads/HW2_Byrapu/Training/1644871518_6273746_cleveland-train.csv')
Traindata_df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,heartdisease::category|-1|1
0,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1
1,37,1,3,130,250,0,0,187,0,3.5,3,0,3,-1
2,56,1,2,120,236,0,0,178,0,0.8,1,0,3,-1
3,57,0,4,120,354,0,0,163,1,0.6,1,0,3,-1
4,63,1,4,130,254,0,2,147,0,1.4,2,1,7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,41,1,2,120,157,0,0,182,0,0.0,1,0,3,-1
148,59,1,4,164,176,1,2,90,0,1.0,2,2,6,1
149,68,1,4,144,193,1,0,141,0,3.4,2,2,7,1
150,57,1,4,130,131,0,0,115,1,1.2,2,1,7,1
151,57,0,2,130,236,0,2,174,0,0.0,2,1,3,1

In [ ]:
def train()